NAVER_MAPS_CLIENT_ID=5s28pgywc5
NAVER_MAPS_CLIENT_SECRET=jyfC8sxiG8VYDyQcm1Os2uJNmvTYpHG9P8LUL0zf
GOOGLE_CLIENT_ID=359627064967-pjkmgsg7qkd7kj0og5gsv2r919hmjt30.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.359627064967-pjkmgsg7qkd7kj0og5gsv2r919hmjt30
BASE_HOST=52.78.181.100:8080
