<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NMFClientId</key>
	<string>o6lgh535oz</string>
	<key>NMFClientSecret</key>
	<string>YLUIBOMKJ4ACuRU9NQze2xuKMxHkDLnhnjjLpsqk</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>산책 경로를 추적하고 지도에 표시하기 위해 위치 정보가 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>산책 경로를 추적하고 배경에서도 지도에 표시하기 위해 위치 정보가 필요합니다.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
</dict>
</plist>
