<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>멍코스가 산책로를 기록하고 배변봉투함 위치를 안내하기 위해 위치 정보가 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>멍코스가 산책로를 기록하고 배변봉투함 위치를 안내하기 위해 위치 정보가 필요합니다.</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
