<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NMFClientId</key>
	<string>5s28pgywc5</string>
	<key>NMFClientSecret</key>
	<string>jyfC8sxiG8VYDyQcm1Os2uJNmvTYpHG9P8LUL0zf</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>산책 경로를 추적하고 지도에 표시하기 위해 위치 정보가 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>산책 경로를 추적하고 배경에서도 지도에 표시하기 위해 위치 정보가 필요합니다.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>google</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>359627064967-pjkmgsg7qkd7kj0og5gsv2r919hmjt30.apps.googleusercontent.com</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
